@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

:host {
    display: block;
    width: 100%;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}